rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the 'projects' collection
    match /projects/{projectId} {
      
      // Anyone can read project data. 
      // This is necessary for displaying project lists and details.
      allow read: if true;

      // Rules for writing (creating, updating) data.
      // We disallow deleting for now to prevent accidental data loss.
      allow write: if request.auth == null;
      allow delete: if false;
    }

    // By default, deny access to all other collections.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
