rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{document=**} {
      allow read: if true;
      allow create: if request.resource.data.name is string &&
                       request.resource.data.description is string &&
                       request.resource.data.status is string &&
                       request.resource.data.progress is number &&
                       request.resource.data.team is list &&
                       request.resource.data.lastUpdate is string &&
                       request.resource.data.createdAt is timestamp;
      allow update: if request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['name', 'description', 'status', 'progress']);
      allow delete: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
